/* Styles */
#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 550px;
  max-width: 1200px;
  margin: 0 auto;
}

.jumbotron .h1, .jumbotron h1 {
    font-size: 3em;
}

a.active {
  color: orange;
}

ul{
    font-size: 1.8em;
}

nav {
  text-align: center;
  margin-bottom: 20px;
  background: #eee;
  border-radius: 10px;
  padding: 10px;
}

.filter-widget {
    background: #eee;
    border-radius: 10px;
    padding: 20px 10px;
    margin-bottom: 20px;
}

.edit-ship-container {
    padding: 5px 30px 20px;
    border-radius: 10px;
    background-color: #eee;
}

.filter-item-container { }

.tile-fade {
    transition: background 0.2s ease,
                padding 0.8s linear;
}

.content-middle {
    display: inline-block;
    vertical-align: middle;
}

/**************************************/
/**ICONS*/
/**************************************/
.good-text, .icon-one {
    font-size: 2em;
    margin: 6px;
    color: #7584d1;
}
.issue-text, .icon-accident, .icon-pirate {
    font-size: 2em;
    margin: 6px;
    color: #d17581;
}
.tag-section { margin: 4px; height: 2em; }

/**************************************/


.container {
    background-color: grey;
}
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background: url("../img/stars.jpg");
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

.starfox {
    max-height: 200px;
    margin: 0 auto;
}

footer {
    margin: 50px 0;
}
